<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />

    <queries>
        <package android:name="com.google.android.apps.youtube.music"/>
        <package android:name="app.revanced.android.apps.youtube.music"/>
        <package android:name="com.zionhuang.music"/>
        <package android:name="it.vfsfitvnm.vimusic"/>
        <package android:name="com.google.android.youtube"/>
        <package android:name="app.revanced.android.youtube"/>
        <package android:name="org.schabi.newpipe"/>
        <package android:name="com.github.libretube"/>
        <package android:name="com.spotify.music"/>
        <package android:name="deezer.android.app"/>
        <package android:name="com.aspiro.tidal"/>
        <package android:name="com.amazon.mp3"/>
        <package android:name="com.apple.android.music"/>
        <package android:name="com.soundcloud.android"/>
        <package android:name="com.rhapsody.napster"/>
    </queries>

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Redomi.SplashScreen"
        android:localeConfig="@xml/locales_config"
        tools:targetApi="tiramisu">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.UpdateReceiver" />

        <activity
            android:name=".ui.ViewBottomSheetActivity"
            android:exported="true"
            android:label="@string/title_bottom_sheet"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Redomi.BottomSheet" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data android:host="music.youtube.com"/>
                <data android:host="www.youtube.com"/>
                <data android:host="open.spotify.com"/>
                <data android:host="www.deezer.com"/>
                <data android:host="listen.tidal.com"/>
                <data android:host="music.amazon.com"/>
                <data android:host="music.apple.com"/>
                <data android:host="soundcloud.com"/>
                <data android:host="play.napster.com"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SendBottomSheetActivity"
            android:exported="true"
            android:label="@string/title_bottom_sheet"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Redomi.BottomSheet" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.UniversalLinkActivity"
            android:exported="true"
            android:label="@string/title_share_universal_link"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Redomi.BottomSheet" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.acszo.redomi.${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>